lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.env

pids
logs
results
data

npm-debug.log
node_modules
*.DS_Store

config.js
boundaries/subscribers
boundaries/queues
web/uploads
incoming
outgoing
.data
