<!doctype html>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>{{ title }}</title>
		<meta name="description" content="{{description}}" />
		<meta name="author" content="{{author}}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black" />
		<meta name="apple-mobile-web-app-title" content="{{title}}">
		<link rel="icon" type="image/png" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-startup-image" href="/public/images/startup.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-ipad.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-iphone4.png" sizes="114x114" />
		<link rel="alternate" type="application/rss+xml" title="{{title}}" href="/index.rss">
		<link type="text/plain" rel="author" href="/humans.txt" />
		<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default.css" />
		{{#each css }}
		<link rel="stylesheet" type="text/css" href="{{ this }}" />
		{{/each}}
		<script>
			if(!module) var module = {exports: {}};
			var global = window;
		</script>
	</head>
	<body>
		<section id="main" class="container-fluid" role="main">
            {{> @partial-block }}
		</section>
		{{#each js }}
		<script type="text/javascript" src="{{ this }}"></script>
		{{/each}}
	</body>
</html>
