<!doctype html>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>{{ title }}</title>
		<meta name="description" content="{{description}}" />
		<meta name="author" content="{{author}}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black" />
		<meta name="apple-mobile-web-app-title" content="{{title}}">
		<link rel="icon" type="image/png" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-startup-image" href="/public/images/startup.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-ipad.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-iphone4.png" sizes="114x114" />
		<link rel="alternate" type="application/rss+xml" title="{{title}}" href="/index.rss">
		<link type="text/plain" rel="author" href="/humans.txt" />
		<link rel="stylesheet" type="text/css" href="/public/css/default.css" />
		{{#each css }}
		<link rel="stylesheet" type="text/css" href="{{ this }}" />
		{{/each}}
		<script>
			window.member = {{{ member }}}
			window.messagesFromServer = []
		</script>		
	</head>
	<body class="room">
		<header id="header" role="header" class="hero">
			<a href="https://github.com/joeyguerra/devchitchat/issues" title="devchitchat issues" class="fa" target="_blank">Issues</a>
			<a href="https://github.com/joeyguerra/devchitchat" title="devchitchat repo" class="fa fa-github" target="_blank">Code</a>
			<a href="/" title="devchitchat index">{{ title }}</a>
			<a href="/welcome">Welcome</a>
		</header>
		<main role="main">
            {{> @partial-block }}
		</main>
		{{#each js }}
		<script type="text/javascript" src="{{ this }}"></script>
		{{/each}}
		<script type="text/javascript" src="/public/markdown/markdown-it.min.js"></script>
	</body>
	<script type="module">
		import Chat from './public/js/Chat.mjs'
		import {ObservableArray, makeKeyValueObservable} from './lib/Observable.mjs'
		import {Message} from './lib/Models.mjs'

		const socket = io.connect('', {query: 'username=' + window.member.username})
		const model = {
			messages: new ObservableArray(),
			roster: new ObservableArray(),
			message: makeKeyValueObservable(new Message())
		}
		window.messagesFromServer.forEach(m => model.messages.push(m))
		const app = new Chat(model, socket, window)
		app.start()
		window.app = app
	</script>	
</html>
