<article>
	<header role="header" class="hero">
		<a href="https://github.com/ijoey/devchitchat/issues" title="devchitchat issues" class="fa" target="_blank">Issues</a>
		<a href="https://github.com/ijoey/devchitchat" title="devchitchat repo" class="fa fa-github" target="_blank">Code</a>
		<a href="/" title="devchitchat index"><%= config.site.title %></a>
		<h1>Hi!</h1>
	</header>
	<div class="identify">
		<h2>Identify yourself with</h2>
		<div class="buttons">
			<form method="get" action="/login/twitter">
				<button type="submit" class="fa fa-twitter btn-lg">Twitter</button>
			</form>
			<form method="get" action="/login/github">
				<button type="submit" class="fa fa-github btn-lg">Github</button>
			</form>
		</div>
	</div>
	<footer class="hero">
		<p>devchitchat - every day around 10 AM.</p>
	</footer>
</article>
