{{#>layouts/room.html}}
<aside class="nav">
	<nav id="menu">
		<ul id="rosterView" class="roster">
			<li>
				<figure class="avatar">
					<img class="img-circle" />
					<figcaption></figcaption>
				</figure>
			</li>
		</ul>
	</nav>
</aside>
<section class="middle">	
	<div id="messagesView">
		<form id="comment" class="comment">
			<textarea name="message" rows="1" autocomplete="on" autocorrect="on" autofocus="true" spellcheck="true"></textarea>
			<button type="submit">Send</button>
		</form>
		<ol class="discussion">
			<li class="other" style="display: none">
				<figure class="avatar">
					<img class="img-circle" />
					<figcaption></figcaption>
				</figure>
				<div class="message">
					<div class="text"></div>
					<time datetime=""></time>
				</div>
			</li>

			{{#each messages}}
			{{#each messages}}
			{{#unless @index}}
			<li class="sent">
				<time datetime="{{w3cFormat time}}">{{w3cFormat time}}</time>
			</li>
			<li class="{{selfOrOther from ../../user ../messages}}" data-from="{{ from.id }}">
				<script>messagesFromServer.push({{{tojson this}}})</script>
				<figure class="avatar">
					<img class="img-circle" data-src="{{from.avatar}}" src="{{from.avatar}}" />
					<figcaption>{{from.displayName}}</figcaption>
				</figure>
			{{/unless}}
				<div class="message" data-count="{{@index}}">
					<div class="text">{{{text}}}</div>
					<time datetime="{{w3cFormat time}}" class="today">{{w3cFormat time}}</time>
				</div>
				{{/each}}
			</li>
			{{/each}}
		</ol>
	</div>
</section>
<footer>
	<p id="reconnectingElement" style="visibility: hidden">Reconnecting</p>
	{{#if user}}
	<a class="on" href="/logout" title="Signout of the site"><span>Signout</span></a>
	{{else}}
	<a class="off" href="/login" name="signin" title="Signinto the site"><span>Signin</span></a>
	{{/if}}
</footer>
{{/layouts/room.html}}