.discussion {
	list-style: none;
	margin: 1rem auto;
	overflow: auto;
}
.discussion li{
	position: relative;
	max-inline-size: 97%;
}

.discussion time{
	font-size: .8em;
	font-weight: 800;
}
.discussion .sent{
	border: none;
	height: 20px;
	width: 100%;
	background: none;
}
.discussion .message time{
	display: none;
}

.discussion li>time{
	display: block;
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	margin-left: 0;
	opacity: .5;
}
.discussion .avatar
, .roster .avatar{
	width: 45px;
	position: absolute;
	top: 0;
	z-index: 2;
}
.roster .avatar{
	position: relative;
}

.discussion .avatar figcaption
, .roster .avatar figcaption{
	display: block;
	text-align: center;
}
.discussion .avatar img
, .roster .avatar img{
	border-radius: var(--radius-round);
}

@media all and (max-width: 1024px){
	.roster {
		display: flex;
	}
}
.roster {
	padding: 0 1em;	
}
.roster li{
	margin-bottom: 1em;
}

.discussion .self .avatar{
	right: 0;
}
.discussion .other .avatar{
	left: 0;
}
.discussion .message{
	margin-left: 65px;
	margin-right: 0;
	margin-bottom: 1px;
	padding: var(--size-1);
	text-align: left;
	background: rgb(5, 160, 255);
	border-radius: var(--radius-3);
	line-height: 1em;
	position: relative;
	z-index:1;
}

.discussion .message .text{
	padding: 5px;
	min-height: 20px;
	cursor: pointer;
}

/* the little flip */
.discussion .self > .message[data-count="0"]:before{
	content:"";
	position:absolute;
	z-index:-1;
	bottom:-2px;
	right:-7px;
	height:20px;
	border-left:20px solid var(--blue-4);
	border-bottom-left-radius: 16px 14px;
	transform:translate(0, -2px);
}
.discussion .self > .message[data-count="0"]:after{
	content:"";
	position:absolute;
	z-index:1;
	bottom:-2px;
	right:-56px;
	width:26px;
	height:20px;
	background: var(--surface-1);
	border-bottom-left-radius: 10px;
	transform:translate(-30px, -2px);
	clear: both;
}

.discussion .self.preview .message,
.discussion .self.preview .message:nth-child(2):before{
	background: orange;
}
.discussion .self.preview .message:nth-child(2):before{
	border-left: 22px solid orange;
}
.discussion .self.preview small{
	margin-right: 60px;
}

.discussion .other .message{
	background: var(--surface-2);
	border-radius: var(--radius-3);
}

/* The flip */
.discussion .other > .message[data-count="0"]:before{
	content:"";
	position:absolute;
	z-index:-1;
	bottom:-2px;
	left:-7px;
	height:20px;
	border-left:20px solid var(--surface-2);
	border-bottom-right-radius: 16px 14px;
	transform:translate(0, -2px);
}
.discussion .other > .message[data-count="0"]:after{
	content:"";
	position:absolute;
	z-index:3;
	bottom:-2px;
	left:4px;
	width:26px;
	height:20px;
	background: var(--surface-1);
	border-bottom-right-radius: 10px;
	transform:translate(-31px, -2px);
}

.comment textarea {
	width: 100%;
	border-radius: var(--radius-2);
}
.comment.fixed {
	position: fixed;
	top: 1rem;
	right: 1rem;
	left: 1rem;
}

.comment button{
	display: none;
}

.discussion .self .message{
	position:relative;
	color: var(--gray-0);
	background: var(--blue-4);
	border-radius: var(--radius-3);
	margin-right: 65px;
}
