@import "//fonts.googleapis.com/css?family=Pacifico";
@import "//unpkg.com/open-props";
@import '//unpkg.com/open-props/normalize.min.css'; 
body{
	padding: 0 3em;
}

form .file{
	height: 100px;
}
.right{
	position: absolute;
	right: 75px;
	top: 0;
}