@import "//fonts.googleapis.com/css?family=Pacifico";
@import "//unpkg.com/open-props";
@import '//unpkg.com/open-props/normalize.min.css'; 

aside.nav nav a{
	display: block;
	width: 100%;
	text-align: center;
}
aside.nav nav a:hover{
	text-decoration: none;
}

.member{
	width: 10vw;
	float: left;
	text-align: center;
}
.member h2{
	text-align: center;
}

form .file{
	height: 100px;
}
.right{
	position: absolute;
	right: 75px;
	top: 0;
}