main {
	display: flex;
	flex-direction: column;
}
@media all and (min-width: 768px){
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}
	header, footer{
		width: 100%;
	}
	.middle {
		flex: 2;
		order: 2;
		min-height: 80vh;
	}
	footer {
		order: 4;
	}
}

.comment input {
	border-radius: var(--radius-5);
	width: 100%;
    box-sizing:border-box;
	padding: 10px;
}

.discussion{
	padding-top:125px !important;
	position: relative;
}

#messagesView {
	margin: 1em 0;
}

.message img.external{
	width: 100%;
}
.reconnecting{
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 5;
	font-size: 15px;
	border: solid 1px red;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: red;
	font-weight: bold;
	display: none;
}


footer {
	text-align: center;
}