body>header{
	margin-bottom: var(--size-5);
}
main {
	display: grid;
	grid-template-columns: .1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 	'roster discussion'
							'footer footer';
}
h1, h2, h3, h4, h5, h6 {
	--text-1: var(--gray-1);
}
/* style main to fit mobild and ipad */
@media screen and (max-width: 1024px) {
	main {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 	'roster'
								'discussion';
	}
}

.roster {
	grid-area: roster;
}
.discussion {
	grid-area: discussion;
}
.footer {
	grid-area: footer;
}

.comment {
	z-index: 1000;
}
.comment input {
	border-radius: var(--radius-5);
	width: 100%;
    box-sizing:border-box;
	padding: 10px;
}

.message img.external{
	width: 100%;
}
.reconnecting{
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 5;
	font-size: 15px;
	border: solid 1px red;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: red;
	font-weight: bold;
	display: none;
}

footer {
	text-align: center;
}